{#
/**
 * @file
 * Default theme implementation to display a four-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}
  {% do region_attributes.column_one.addClass('l-section__col') %}
  {% do region_attributes.column_two.addClass('l-section__col') %}
  {% do region_attributes.column_three.addClass('l-section__col') %}
  {% do region_attributes.column_four.addClass('l-section__col') %}

  {% if settings.background_color != 'light' %}
    {% do attributes.addClass('t-' ~ settings.background_color ) %}
  {% endif %}

  {% if settings.spacing %}
    {% do attributes.addClass('l-section--' ~ settings.spacing ) %}
  {% endif %}

  {% if settings.h_rules == 'above' or settings.h_rules == 'both' %}
    <hr/>
  {% endif %}

  <div {{ attributes.addClass('l-section l-section--three-col') }}>
    {% if content.column_one %}
      <div {{ region_attributes.column_one }}>
        {{ content.column_one }}
      </div>
    {% endif %}

    {% if content.column_two %}
      <div {{ region_attributes.column_two }}>
        {{ content.column_two }}
      </div>
    {% endif %}

    {% if content.column_three %}
      <div {{ region_attributes.column_three }}>
        {{ content.column_three }}
      </div>
    {% endif %}

    {% if content.column_four %}
      <div {{ region_attributes.column_four }}>
        {{ content.column_four }}
      </div>
    {% endif %}
  </div>

  {% if settings.h_rules == 'below' or settings.h_rules == 'both' %}
    <hr/>
  {% endif %}

{% endif %}
